/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;

  --white: #FFFFFF;
  --dark-white: #F3F7F9;
  --black: #000000;
  --lightblue: #32425C;
  --darkblue: #293449;
  --dark: #1D2739;
  --active: #161D29;
  --social: #212A3A;
  --border-color: #E5E5E5;
  --crossed: #A9A9A9;
  --heading: #F2F6F8;
  --border-color: #EAEAEA;

  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;

  --light-gray: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.page {
  height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.header-top {
  background-color: var(--darkblue);
}

.header-top .container {
  display: flex;
}

.header-top a {
  color: var(--white);
}

.logo {
  vertical-align: middle;
  width: 108px;
  height: 18px;
  background-color: var(--basic-red);
}

.header-top .logo {
  display: inline-block;
  padding: 12px 57px 12px 55px;
}

.header-top .logo:hover,
.header-top .logo:focus {
  background-color: var(--basic-red);
}

.header-top .logo:active {
  background-color: var(--error);
}

.search {
  box-sizing: border-box;
  padding-left: 42px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 271px;
  height: 42px;
  background-color: var(--darkblue);
  border: 2px solid var(--darkblue);
  font: inherit;
  outline:none;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search:focus {
  background-color: var(--white);
  border-color: var(--white);
}

.marker {
  padding: 9px 24px 9px 43px;
}

.basket {
  padding: 9px 26px 9px 49px;
}

.order {
  height: 100%;
  padding: 9px 16px 9px 19px;
  background-color: var(--basic-green);
}

.order:hover,
.order:focus {
  background-color: var(--success);
}

.order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--basic-green);
}

.marker:active,
.basket:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--active);
}

.header-middle {
  padding-top: 46px;
  background-color: var(--basic-background);
}

.header-middle .container {
  display: flex;
  margin-bottom: 40px;
}

.store-description {
  width: 197px;
  margin-right: 93px;
  margin-left: 32px;
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.phone {
  padding: 7px 42px 8px 71px;
  color: var(--basic-red);
  border: 3px solid var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  font-size: 14px;
  color: var(--lightblue);
  padding-left: 10px;
}

.user-navigation {
  margin-left: 69px;
}

.user-navigation a {
  color: var(--black);
  font-size: 21px;
  line-height: 21px;
  background: var(--white);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
}

.user-navigation a:active {
  color: var(--basic-greylight);
}

.enter-navigation {
  padding: 12px 27px 12px 45px;
}

.registration-navigation {
  padding: 12px 24px 12px 24px;
}

.site-navigation {
  padding: 0 44px;
  margin: 0;
  margin-bottom: 60px;
  display: flex;
  list-style: none;
  background-color: var(--lightblue);
  box-shadow: inset 0 -5px 0 0 var(--darkblue);
}

.site-navigation a {
  display: inline-block;
  padding: 16px 24px 20px 27px;
  color: var(--white);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--darkblue);
}

.site-navigation a:active {
  color: rgba (255,255,255, 0.5);
  background-color: var(--dark);
}

.tool,
.slider,
.discounts-delivery {
  list-style: none;
}

.tool a,
.discounts-delivery a {
  color: var(--white);
}

.materials {
  background-color: var(--special-yellow);
}

.tools {
  background-color: var(--special-blue);
}

.equipment {
  background-color: var(--special-lilac);
}

.discounts {
  background-color: var(--special-greenlight);
}

.delivery {
  background-color: var(--special-yellowlight);
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}

.description:hover,
.description:focus {
  background-color: rgba(197, 197, 197, 0.3);
}

.description:focus {
  background-color: rgba(169, 169, 169, 0.3);
}

.slider h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
}

.slider p {
  color: var(--white);
}

.index-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-store {
  width: 460px;
}

.title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color:  var(--black);
}

.text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color:  var(--black);
}

.text-first {
  margin-bottom: 20px;
}

.text-second {
  margin-bottom: 10px;
  width: 385px;
}

.partners {
  list-style: none;
  margin-bottom: 20px;
}

.partners li {
  margin-bottom: 10px;
}

.about-store .button{
  padding: 11px 41px;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
}

.contact {
  width: 300px;
}

.contact .text {
  margin-bottom: 32px;
  width: 181px;
}

.contact img {
  margin-bottom: 25px;
}

.contact .button {
  padding: 11px 61px;
}

.footer-top {
  background-color: var(--lightblue);
  padding-bottom: 45px;
}

.footer-top-left {
  margin-right: 69px;
}

.footer-top .container {
  display: flex;
}

.footer-top .logo {
  box-sizing: border-box;
  height: 63px;
  width: 220px;
  display: inline-block;
  padding: 20px 41px 25px 41px;
}

.footer-bottom {
  background-color: var(--darkblue);
}

.footer-address {
  color: var(--dark-white);
  width: 323px;
  margin-bottom: 0px;
}

.footer-top-right {
  margin-top: 37px;
  width: 547px;
}

.menu,
.tool-catalog {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  margin-bottom: 30px;
}

.menu a {
  color: var(--basic-background);
}

.menu a:hover,
.tool-catalog a:hover,
.menu a:focus,
.tool-catalog a:focus
{
  text-decoration: underline;
}

.menu a:active,
.tool-catalog a:active {
  opacity: 0.5;
  text-decoration: none;
}

.tool-catalog {
  padding-left: 23px;
  width: 524px;
}

.tool-catalog a {
  color: var(--special-yellowlight);
}

.footer-bottom p {
  color: var(--white);
}

.footer-bottom .container {
  display: flex;
  padding-top: 36px;
}

.copyright {
  margin-right: 161px;
  color: var(--white);
  width: 227px;
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  list-style: none;
  width: 132px;
  margin: 0px;
  padding: 0px;
  margin-right: 118px;
}

.social-list li {
  background: linear-gradient(0deg, var(--social), var(--social));
}

.social-list li:hover,
.social-list li:focus,
.social-list li:active {
  background: var(--basic-red);
}

.mail {
  width: 135px;
  margin-right: 51px;
}

.developer {
  width: 110px;
}

.mail-link,
.developer-link {
  color: var(--special-yellowlight);
}

.mail-link:hover,
.developer-link:hover {
  text-decoration: underline;
}

.mail-link:active,
.developer-link:active {
  text-decoration: none;
  color: var(--basic-red);
}

/* Catalog */
.basket-active {
  box-sizing: border-box;
  width: 136px;
  padding: 9px 21px 9px 35px;
  background-color: var(--basic-red);
}

.user-wrap {
  width: 299px;
  margin-left: 40px;
}

.user {
  display: block;
  box-sizing: border-box;
  width: 299px;
  margin-bottom: 7px;
  padding: 12px 57px 12px 56px;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background: var(--white);
}

.user-order {
  margin-left: 45px;
  margin-right: 33px;
}

.user-order,
.private-office {
  font-size: 16px;
  line-height: 18px;
  color: var(--lightblue);
}

.user-order:hover,
.private-office:hover {
  color: var(--basic-red);
}

.user:active,
.user-order:active,
.private-office:active {
  color: var(--basic-greylight);
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs a {
  margin-right: 40px;
}

.breadcrumbs a,
.breadcrumbs-current {
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 13px;
}

.heading {
  box-sizing: border-box;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 29px 739px 30px 29px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--lightblue);
  background-color: var(--heading);
}

.catalog-column {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 220px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 37px;
}

.filter fieldset:first-child {
  margin-bottom: 46px;
}

.filter legend {
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter label {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.fliter-button {
  padding: 10px 78px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  border: 1px solid var(--border-color);
  background-color:  var(--white);
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 18px;
  column-gap: 20px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-list li {
  border: 1px solid var(--border-color);
  min-height: 318px;
}

.actions {
  display: none
}

.catalog-list h3 {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-list span {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: var(--crossed);
}

.catalog-list a {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--white);
}

.modal {
  display: none;
}
